<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--<bean id="jsonOutputGenerator" class="com.lzj.springtest2.third.impl.JsonOutputGenerator"></bean>-->
    <!--<bean id="csvOutputGenerator" class="com.lzj.springtest2.third.impl.CsvOutputGenerator"></bean>-->
    <!--<bean id="outPutHelper" class="com.lzj.springtest2.third.Helper.OutputHelper">-->
    <!--<property name="outputGenerator" ref="csvOutputGenerator" />-->
    <!--</bean>-->

    <bean id="OutputHelper" class="com.lzj.springtest2.third.Helper.OutputHelper">
        <property name="outputGenerator" ref="CsvOutputGenerator"/>
    </bean>
    <bean id="CsvOutputGenerator" class="com.lzj.springtest2.second.impl.CsvOutputGenerator"/>
    <bean id="JsonOutputGenerator" class="com.lzj.springtest2.second.impl.JsonOutputGenerator"/>

</beans>
