<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="customerDAO" class="com.lzj.springtest16.first.CustomerDAO"></bean>
    <bean id="customerService" class="com.lzj.springtest16.first.CustomerService">
        <property name="customerDAO" ref="customerDAO"></property>
    </bean>
</beans>