<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="customer" class="com.lzj.springtest6.first.Customer">
        <constructor-arg><value type="java.lang.String">luozhijie</value></constructor-arg>
        <constructor-arg><value type="int">18</value></constructor-arg>
        <constructor-arg><value type="java.lang.String">19</value></constructor-arg>
    </bean>
</beans>